<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<!-- applications#index -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#applicationsIndex" aria-expanded="false" aria-controls="collapseTwo">
          applications#index - Request an access token
        </a>
      </h4>
    </div>
    <div id="applicationsIndex" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">

        <p>
          Post the access_grant token (from oauth#authorize) together with several other paramers as described below.
          Receive your access_token in the json response
        </p>

        <p>HTTP Request: <code>GET http://api.hackcentral.co/v1/applications</code></p>

        <div id="request">
          <h3>Request:</h3>

          <strong>Route:</strong>
          <p>
            <code>
              GET /v1/applications
            </code>
          </p>

          <strong>Headers:</strong>
            <p>
              <pre>
Accept: application/json
Content-Type: application/json
Authorization: Bearer put_access_token_here
Host: api.producthunt.com
              </pre>
            </p>
        </div>

        <div id="response">
          <h3>Response:</h3>

          <strong>Status:</strong>
          <p>
            <pre>200 OK</pre>
          </p>

          <strong>Headers:</strong>
          <p>
            <pre>
X-Frame-Options: SAMEORIGIN
X-XSS-Protection: 1; mode=block
X-Content-Type-Options: nosniff
Cache-Control: no-store
Pragma: no-cache
Content-Type: application/json; charset=utf-8
ETag: W/"d98d2c7df71f2beddbf5ba6ba11a9ddc"
Content-Length: 126
            </pre>
          </p>

          <strong>Body:</strong>
          <p>
            <pre>
{
  id: 1
  reimbursement_needed: true
  created_at: "2015-01-01T18:46:35.134Z"
  updated_at: "2015-01-01T18:47:22.674Z"
  user_id: 1
  profile_id: 1
  hackathon_id: 1
  accepted: true
  checked_in: true
}
            </pre>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>