<h1 class="center">HackCentral API Documentation</h1>
<h3>Quick Links:</h3>
  <p><a href="/">Home</a>
  <p>OAuth Authentication</p>
  <ul>
    <li>
      <a data-toggle="collapse" data-parent="#accordion" href="#oauthAuthorize" aria-expanded="true" aria-controls="collapseOne">
        oauth#authorize - Ask for access grant code on behalf of the user
      </a>
    </li>

    <li>
      <a data-toggle="collapse" data-parent="#accordion" href="#oauthToken" aria-expanded="true" aria-controls="collapseOne">
        oauth#token - Request an access token
      </a>
    </li>
  </ul>

  <p>Users</p>
  <ul>
    <li>
      <a data-toggle="collapse" data-parent="#accordion" href="#usersShow" aria-expanded="true" aria-controls="collapseOne">
        users#show - Information on current_user
      </a>
    </li>
  </ul>

  <p>Applications</p>
  <ul>
    <li>
      <a data-toggle="collapse" data-parent="#accordion" href="#applicationsIndex" aria-expanded="true" aria-controls="collapseOne">
        applications#index - Information on current_user
      </a>
    </li>

    <li>
    </li>

    <li>
    </li>

    <li>
    </li>

    <li>
    </li>
  </ul>
  <hr>
  <p><a href="http://hackcentral.co">HackCentral Website</a></p>
  <p><a href="http://hackcentral.co/oauth/applications">API Dashboard</a></p>
  <hr>
  <p><a href="https://github.com/hackcentral/hackcentral">HackCentral Source</a></p>
  <p><a href="https://github.com/hackcentral/docs">HackCentral API Docs Source</a></p>