<h1 class="center">HackCentral API Documentation</h1>
<h3>Quick Links:</h3>
  <p><a href="/">Home</a>
  <p><a href="">OAuth Authentication</a></p>
    <p>oauth#authorize - Ask for access grant code on behalf of the user
    <hr>
  <p><a href="http://hackcentral.co">HackCentral Website</a></p>
  <p><a href="http://hackcentral.co/oauth/applications">API Dashboard</a></p>
    <hr>
  <p><a href="https://github.com/hackcentral/hackcentral">HackCentral Source</a></p>
  <p><a href="https://github.com/hackcentral/docs">HackCentral API Docs Source</a></p>